h1, h5 {
    color: rgba(237, 237, 238, 1);
}

body {
    background-colour: rgba(273, 273, 238, 1);
}

#map {
    height: 49rem;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 5.1rem;
    bottom: 3.5rem;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto
}

.maindiv {
    position: relative;
    display: block;
}


#clockWidget {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-left: none;
}

#clockWidget .row {
    display: block;
    width: 100%;
}

#clock-weatherImg {
    width: 50%;
}
