<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>Dublin Bikes - {{ title }}</title>
    {% else %}
    <title>Dublin Bikes</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='main2.css') }}">


    <!-- Placeholder styling for the sliding checkbox which switches between pre & post quarantine dataSets -->
    <style>
    .switch {position: relative; display: inline-block; width: 60px; height: 34px; margin-left: 2rem;}
    /* Hide default HTML checkbox */
    .switch input {opacity: 0; width: 0; height: 0;}
    /* The slider */
    .slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
    .slider:before {position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}

    input:checked + .slider {background-color: #2196F3;}

    input:focus + .slider {box-shadow: 0 0 1px #2196F3;}

    input:checked + .slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
    </style>

</head>

<script type="text/javascript">
    var stands = [];
    var info_rows = {number:"Station ID:", address:"Station Address:", free_bikes:"Bikes Available",
                     free_stands:"Empty Stands:", lat:"Station Latitude:", lng:"Station Longitude:", banking:"Payment Terminal:", bonus:"Bonus Station:"}
    var isEmpty = true;
    var main_div, head, row, info_name, info_value, container;
    
    {% if statinfo == "none" %}
        isEmpty = true;
    {% else %}
        isEmpty = false;
        {% for i in statinfo %}
        stands.push({lat:{{ i[-2] }},
                    lng:{{ i[-1] }},
                    address:"{{ i[1] }}",
                    number:{{ i[0] }},
                    status:"{{ i[2] }}",
                    free_bikes:{{ i[4] }},
                    free_stands:{{ i[3] }},
                    weather_img:"{{ i[6] }}",
                    weather_type:"{{ i[5] }}",
                    temp:{{ '%.2f'%(i[7] - 273.15) }},
                    feels_like:{{ '%.2f'%(i[8] - 273.15) }},
                    banking:"{{ i[10] }}",
                    bonus:"{{ i[11] }}"});
        {% endfor %}
    {% endif %}

    function load(){
        main_div = document.getElementById("station_info");
        if (isEmpty){
            head = document.createElement("SPAN");
            head.innerHTML = "<h1><strong>Station Information</strong></h1>";
            main_div.appendChild(head);
            row = document.createElement("SPAN");
            row.innerHTML = "<h2><strong>Please Select a Station</strong></h2>";
            main_div.appendChild(row);
        } else {
            head = document.createElement("SPAN");
            head.innerHTML = "<h1><strong>Station Information</strong></h1>";
            main_div.appendChild(head);

            container = document.createElement("DIV");
            container.setAttribute("class","info-container");
            for(var key in info_rows){

                info_name = document.createElement("DIV");
                info_name.setAttribute("class","col");
                info_name.innerHTML = "<h5><strong>"+info_rows[key]+"</strong></h5>";
                container.appendChild(info_name);
                info_value = document.createElement("DIV");
                info_value.setAttribute("class","col");
                info_value.innerHTML = "<h5><strong>"+stands[0][key]+"</strong></h5>"
                container.appendChild(info_value);
            }
            main_div.appendChild(container);


        }
        
        var links = document.getElementsByClassName("side-list");
        for(var i = 0; i < links.length; i++){
            
            if(links[i].getAttribute("HREF") == window.location.pathname){
                links[i].setAttribute("class","active");
                break;
            }
                
        }
    }


</script>
<body onload="load()">
    <div class="header">
        <a href="/index" class="logo">dublinbikes</a>
            <div class="header-right">
                <a href="/index">Map</a>
                <a href="/info">Info</a>
            </div>
        </div>


    <div class="container">
        <nav class="sidebar">
            {% for station in stat_addr %}
            <a href="/info/{{station[0]}}" class="side-list">{{station[1]}}</a>
            {% endfor %}
        </nav>

        <div class="info-panel" id=station_info>
        </div>


        <!-- link js module containing tools for drawing charts -->
        <script src="{{ url_for('static', filename='/jsModules/chart.js/dist/Chart.js') }}"></script>
        <!-- link js functions to request data & draw charts-->
        <script src="{{ url_for('static', filename='chartWidget.js') }}" ></script>

        <div class="chartA" id="bikesByHourDiv" style="background-color: white, position:relative">
            <h2> Free Bikes & Stands by Hour</h2>
            <div id="bikesByHourBtns"></div>

            <!-- container for weather icons associated with the 3 hourly prediction-->
            <div id="weatherIconsDiv" style="position: absolute"></div>

            <canvas id="bikesByHour" height="68px" style="position: absolute"></canvas>

            <!-- Rectangular switch for selecting between COVID & non-COVID Data-->
            

        </div>
        <div class="chartB" id="bikesByWeekdayDiv" style="background-color: white">
            <h2> Station Traffic by Day </h2>
            <canvas id="bikesByWeekday" height="68px"></canvas>
        </div>

        <div class="row" id="bikeAvailabilityDiv" style="background-color: yellow">
            <h2> Bike Availability</h2>
            <canvas id="bikeAvailability" width="100%" height="25%"></canvas>
        </div>

        <script>
            getChartData(stands[0].number, chartMain);
        </script>


    </div>



    <footer>
        <p><strong>Team 14</strong></p>
    </footer>


</body>

</html>