<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1", shrink-to-fit="no">
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
    <title>Dublin Bikes - {{ title }}</title>
    {% else %}
    <title>Dublin Bikes</title>
    {% endif %}
</head>
<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>