<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>Dublin Bikes - {{ title }}</title>
    {% else %}
    <title>Dublin Bikes</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="header">
        <a href="/index" class="logo">dublinbikes</a>
        <div class="header-right">
            <a href="/index">Map</a>
            <a href="/info">Info</a>
        </div>
    </div>
    <div id="route-map">
        <div id="map" style="width: 100%;">Map goes here...</div>
    </div>
    <script type="text/javascript">
        var stands = [];
        var org = {{coordinates.origin}};
        var dst = {{coordinates.dest}};
        {% for i in statinfo %}
        stands.push({lat:{{ i[-2] }},
                    lng:{{ i[-1] }},
                    address:"{{ i[1] }}",
                    number:{{ i[0] }},
                    status:"{{ i[2] }}",
                    free_bikes:{{ i[4] }},
                    free_stands:{{ i[3] }},
                    weather_img:"{{ i[6] }}",
                    weather_type:"{{ i[5] }}",
                    temp:{{ '%.2f'%(i[7] - 273.15) }},
                    feels_like:{{ '%.2f'%(i[8] - 273.15) }},
                    banking:"{{ i[10] }}",
                    bonus:"{{ i[11] }}"});
        {% endfor %}


        function initMap() {

            var prev_iw = false;
            radius = 20, zoom = 14;

            var location = {lat: 53.3498, lng: -6.2603};

            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom : zoom,
                center : location
            });

<!--add markers-->
            var lngT = 0.005;
            var latT = 0.003;
            for (let i of stands) {

                if((i.lat < (org[0]+latT) && i.lat > (org[0]-latT) && i.lng < (org[1]+lngT) && i.lng > (org[1]-lngT)) || (i.lat < (dst[0]+latT) && i.lat > (dst[0]-latT) && i.lng < (dst[1]+lngT) && i.lng > (dst[1]-lngT))) {
                    if((i.lat == org[0] && i.lng == org[1]) || (i.lat == dst[0] && i.lng == dst[1])){
                        continue;
                    }

                    addMarkers({
                        coords:{lat:i.lat,lng:i.lng},
                        content:'<div id="iw"><h4>'+i.address+'</h4><h6>Status: '+i.status+'</h6><h6>Available Stands: '+i.free_stands+'</h6><h6>Available Bikes: '+i.free_bikes+'</h6></div>',
                        pin: i.free_bikes
                        });
                   }
            }

            directionsDisplay.setMap(map);

            calcAndDisplayRoute(directionsService, directionsDisplay);

            function calcAndDisplayRoute(directionsService, directionsDisplay) {
                directionsService.route({
                    origin: String(org),
                    destination: String(dst),
                    travelMode: 'BICYCLING'
                    }, function (response, status) {
                        if (status === 'OK') {
                            directionsDisplay.setDirections(response);
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                    });
            }

            function addMarkers(prop){
            var marker = new google.maps.Marker({
                position : prop.coords,
                map : map,
            });

            <!--if clause to find availability to change icon colour here?-->

            <!--add bike info windows-->

            if(prop.content){
                var infoWindow = new google.maps.InfoWindow({
                content : prop.content
                });

            if (prop.pin >= 13){
                    marker.setIcon('/static/pin_green.png')
                } else if (prop.pin < 13 && prop.pin > 5) {
                    marker.setIcon('/static/pin_amber.png')
                } else if (prop.pin <= 5) {
                    marker.setIcon('/static/pin_red.png')
                }

            }

            google.maps.event.addListener(marker, 'click', function() {
                if (prev_iw) {
                    prev_iw.close();
                }
                prev_iw = infoWindow;
                infoWindow.open(map, marker);
            });

            google.maps.event.addListener(marker, 'click', function() {
                if(!marker.open){
                    infoWindow.open(map,marker);
                    marker.open = true;
                }
                else{
                    infoWindow.close();
                    marker.open = false;
                }
                google.maps.event.addListener(map, 'click', function() {
                    infoWindow.close();
                    marker.open = false;
                });
            });

            }
        }
    </script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5ydZwuT-hJt9fmBA5_sHnIWeE3JgvjCY&callback=initMap"  async defer ></script>
</body>

</html>
